name: Data Preprocessing Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  preprocess:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requrements.txt
    
    - name: Run preprocessing pipeline
      run: |
        cd preprocessing
        python automate_Muhamad-Dekhsa-Afnan.py
      env:
        GITHUB_WORKSPACE: ${{ github.workspace }}
    
    - name: Upload processed data
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: processed-data
        path: preprocessing/creditcard_clean.csv
